{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Controle de Acesso</title>

	<link rel="stylesheet" href="{% static 'css/stylepesquisa.css' %} ">
</head>
<body>
	<form class="form" action="">
		<div class="card">
			<div class="card-top">
				<img class="imglogin" src="{% static 'img/user.png' %}" alt="">
				<h2 class="title">UNIPAC</h2>
				<p>Cadastro</p>
			</div>

			<div class="card-group">
				<input type="email" name="email" placeholder="Informe um e-mail*" required>
			</div>

			<div class="card-group">
				<input type="password" name="senha" placeholder="Informe uma senha*" required>
			</div>

			<div class="card-group">
				<input type="text" name="nome" placeholder="Informe seu nome completo*" required>
			</div>

			<div class="card-group">
				<input type="text" name="cpf" placeholder="Informe seu CPF*" required>
			</div>

			<div class="card-group">
				<input type="text" name="Telefone" placeholder="Informe seu Telefone">
			</div>

			<div class="card-group">
				<input type="text" name="Endereço" placeholder="Informe seu Endereço*" required>
			</div>

			<div class="card-group btn">
                <a href="{% url 'cadastro' %}">
				    <button type="button">CADASTRAR</button>
                </a>
			</div>
			<div class="card-group btn">
                <a href="{% url 'login' %}">
				    <button type="button">VOLTAR</button>
                </a>
			</div>
		</div>
	</form>
</body>
</html>