{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Controle de Acesso</title>

	<link rel="stylesheet" href="{% static 'css/stylepesquisa.css' %} ">
	<style>
		table {
		  font-family: arial, sans-serif;
		  border-collapse: collapse;
		  width: 100%;
		}
		
		td, th {
		  border: 1px solid #dddddd;
		  text-align: left;
		  padding: 8px;
		}
		
		tr:nth-child(even) {
		  background-color: #dddddd;
		}
	</style>
</head>
<body>
	<form class="form" action="">
		<div class="card">
			<div class="card-top">
				<img class="imglogin" src="{% static 'img/user.png' %}" alt="">
				<h2 class="title">UNIPAC</h2>
				<p>Meus Exames</p>
			</div>

            {% if exames %}
                
				<table>
					<tr>
						<th>Nro</th>
						<th>Data</th>
						<th>Resultado</th>
						<th>Ações</th>
					</tr>
					{% for exame in exames %}
					<tr>
						<td>{{exame.id}}</td>
						<td>{{exame.data}}</td>
						<td>{{exame.resultado}}%</td>
						<td><a href="/exame/{{ exame.id }}">Visualizar</a></td>
					</tr>
					{% endfor %}
				</table>
            {% else %}
                <p>Você não cadastrou nenhum exame!</p>
            {% endif %}

			<br>
			<div class="card-group btn">
				<a href="{% url 'exame-add' %}">
                    <button type="button">NOVO EXAME</button>
                </a>
			</div>
			<div class="card-group btn">
				<a href="{% url 'menu' %}">
                    <button type="button">VOLTAR</button>
                </a>
			</div>
		</div>
	</form>
</body>
</html>